<div class="card-panel teal deep-purple lighten-3">
<nav>
  <div class="indigo lighten-3ss">
    <a href="" class="indigo lighten-3ss">Turismo en Colombia</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">          
      <li>
          <a  (click)="listarTurismo()"
              class="waves-effect waves-light btn">
              Ver Registros.
          </a>
      </li>
    </ul>
  </div>
</nav>

<br>

  

  <!-- Page Layout here -->
  <div class="row">

   
      <div class="col s12 m8 offset-m2 l6 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st13.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                San andres
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st2.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Barranquilla
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6  ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st14.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Buga
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6  ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st5.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Medellin
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6  ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st7.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                cartagena
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6  ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st15.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Manizales
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 offset-m2 l6 ">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="assets/img/st3.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
                Ciudades Colombianas
              </span>
            </div>
          </div>
        </div>
      </div>
      <br> <br>

      <table>
        <thead>
          <tr>
              <th data-field="id">Sitios</th>
              <th data-field="name">% sobre el valor total</th>
              
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Campo y playa (Descanso)</td>
            <td>67,1</td>
            
          </tr>
          <tr>
            <td>Turismo cultural</td>
            <td>10,2</td>
            
          </tr>
          <tr>
            <td>Practica Deportiva</td>
            <td>2,3</td>
            
          </tr>
        </tbody>
      </table>
      <br><br>

      <div class="card">
            <div class="card-image waves-effect waves-light">
              <img class="activator" src="assets/img/st17.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">San andres<i class="material-icons right">Ver</i></span>
              </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">San andres<i class="material-icons right">Cerrar</i></span>
              <p>Es la más grande de las islas que forman parte del Archipiélago de San Andrés, Providencia y Santa Catalina, 
                siendo su extensión total de 26 km². Actualmente Colombia ejerce dominio sobre la isla, formando parte del 
                único departamento insular del país.</p>
            </div>
  </div>

  <div class="card">
            <div class="card-image waves-effect waves-light">
              <img class="activator" src="assets/img/st18.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Barranquilla<i class="material-icons right">Ver</i></span>
              </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Barranquilla<i class="material-icons right">Cerrar</i></span>
            <p> oficialmente Distrito Especial, Industrial y Portuario de Barranquilla, es la capital del departamento del Atlántico, Colombia. Está ubicada sobre la margen occidental del río Magdalena a 7,5 km de su desembocadura en el mar Caribe. En 1993 fue organizada constitucionalmente en distrito especial, industrial y portuario.7 Es el principal centro económico de la Región Caribe de Colombia, entre las actividades económicas destacan el comercio y la industria.

          El establecimiento de la ciudad data de la tercera década del siglo XVII, cuando los sectores aledaños al río Magdalena se empezaron a poblar alrededor de mercedes otorgadas por la Corona Española. Durante la época de la Independencia, Barranquilla se distinguió por el apoyo de sus habitantes a la causa libertadora, lo que le valió ser erigida en villa en 1813. En la segunda mitad del siglo XIX adquiere importancia estratégica y económica al iniciarse la navegación a vapor por el río Magdalena, lo que le permitió convertirse en el principal centro exportador del país hasta la primera mitad del siglo XX. Desde fines del siglo XIX hasta los años 1930, Barranquilla fue el principal punto de entrada a Colombia de miles de inmigrantes y de adelantos como la aviación, la radio comercial y la telefonía, así como de varios deportes. </p>
            </div>
  </div>

  <div class="card">
            <div class="card-image waves-effect waves-light">
              <img class="activator" src="assets/img/st19.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Buga<i class="material-icons right">Ver</i></span>
              </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Buga<i class="material-icons right">Cerrar</i></span>
              <p>Buga, oficialmente Guadalajara de Buga, es un municipio colombiano del centro del departamento del Valle del Cauca. Es famoso por la Basílica del Señor de los Milagros, a la que acuden peregrinos de todo el mundo. Su nombre completo es Guadalajara de Buga, porque es atravesada por el río Guadalajara, también llamado Río de las Piedras, el cual nace en la parte media de la Cordillera Central. Está situado en la parte plana del Valle del Cauca. Es una de las ciudades con más historia no sólo en el departamento sino en el país, su historia corre paralela a la historia del Estado Soberano del Cauca y del Valle del Cauca, posee una gran arquitectura colonial y moderna. la ciudad en crecimiento se considera un polo de desarrollo para el departamento del Valle del Cauca.</p>
            </div>
  </div>

  <div class="card">
            <div class="card-image waves-effect waves-light">
              <img class="activator" src="assets/img/st20.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Medellin<i class="material-icons right">Ver</i></span>
              </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Medellin<i class="material-icons right">Cerrar</i></span>
              <p>Medellín es un municipio colombiano, capital del departamento de Antioquia, siendo la ciudad más poblada del 
                departamento y la segunda del país.7 Se asienta en la parte más ancha de la región natural conocida como Valle 
                de Aburrá, en la cordillera central de los Andes, constituyéndose como el mayor centro urbano de tal ramal andino. 
                Se extiende a ambas orillas del río Medellín -llamado también río Aburrá-, que la atraviesa de sur a norte, y es el 
                núcleo principal del área metropolitana del Valle de Aburrá</p>
            </div>
  </div>

  <div class="card">
            <div class="card-image waves-effect waves-light">
              <img class="activator" src="assets/img/st21.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Cartagena<i class="material-icons right">Ver</i></span>
              </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Cartagena<i class="material-icons right">Cerrar</i></span>
              <p>Cartagena de Indias, oficialmente Distrito Turístico y Cultural de Cartagena de Indias abreviado Cartagena 
                de Indias, D. T. y C., es la capital del departamento de Bolívar, Colombia. Fue fundada el 1 de junio de 1533 
                por Pedro de Heredia. Desde 1991 Cartagena es un Distrito Turístico y Cultural. La ciudad está localizada a 
                orillas del mar Caribe.</p>
            </div>
  </div>

   <div class="card">
            <div class="card-image waves-effect waves-light">
              <img class="activator" src="assets/img/st23.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Manizales<i class="material-icons right">Ver</i></span>
              </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Manizales<i class="material-icons right">Cerrar</i></span>
              <p>Manizales es un municipio colombiano, capital del departamento de Caldas y la capital cafetera de Colombia. 
                Es una ciudad ubicada en el centro occidente de Colombia, sobre la Cordillera Central de los Andes, cerca del 
                Nevado del Ruiz. Forma parte del llamado Triángulo del café. Tiene una población de aproximadamente 397.488 
                habitantes de acuerdo a las proyecciones demográficas oficiales para el año 2016; su área metropolitana conformada 
                por los municipios de Manizales, Neira, Chinchiná, Villamaría y Palestina llega a una población cercana a los 554.594 
                habitantes, y es también conocida como la subregión Centrosur de Caldas. Hace parte, junto con Risaralda, Quindío, el 
                nor-occidente de Tolima, el Norte del Valle y el suroeste antioqueño del eje cafetero colombiano.</p>
            </div>
  </div>

</div>


    <div class="col s12 m4 l2" style="margin-top:20px;"> <!-- Note that "m4 l3" was added -->
          
    </div>

    
   
  

    <div class="col s12 m8 l10"> <!-- Note that "m8 l9" was added -->
      <disc-turismo>
      </disc-turismo>
    </div>

  </div>


<div id="listarturis" class="modal bottom-sheet open" style="z-index: 1003; display: block; opacity: 1; bottom: 0px; visibility:hidden;">
          <div class="modal-content">
            <h4>Listado de turismo</h4>
            <ul class="collection">
              <li *ngFor="let turismo of turismoList"
                  class="collection-item avatar">
                <i class="material-icons circle blue darken-4"></i>
                <span class="title">{{turismo.nombre}}</span>
                <p>Cedula: {{turismo.cedula}} <br>
                   Telefono: {{turismo.telefono}}<br>
                   Destino: {{turismo.destino}}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">Turismo</i></a>
              </li>
            </ul>
          </div>
        </div>

